<!DOCTYPE html>
<html lang="en">
<head>
    <title id = "tittle">{{title}}</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
</div>
</body>
</html>